
button,input{font-family:inherit;}
.float_none{float:none!important;}
.offscreen{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;}
.inline_block{display:inline-block!important;}
.align_left{text-align:left!important;}
.align_center{text-align:center!important;}
.normal{font-weight:400!important;}
.break_word{word-wrap:break-word;}
.full_width{width:100%!important;max-width:100%!important;}
.no_bottom_margin{margin-bottom:0!important;}
.tiny_bottom_margin{margin-bottom:.1rem!important;}
.small_top_margin{margin-top:.5rem!important;}
.small_bottom_margin{margin-bottom:.5rem!important;}
.small_right_margin{margin-right:.5rem!important;}
.medium_bottom_margin{margin-bottom:1.5rem!important;}
.large_bottom_margin{margin-bottom:2rem!important;}
.margin_auto{margin-left:auto!important;margin-right:auto!important;}
.right_padding{padding-right:1rem!important;}
.large_bottom_padding{padding-bottom:2rem!important;}
*{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
h1{font-weight:700;font-family:Slack-Lato,appleLogo,sans-serif;margin:0 0 1rem;}
h1{font-size:2rem;line-height:2.5rem;letter-spacing:-1px;}
a,a:link,a:visited{color:#1264a3;text-decoration:none;}
a:active{color:#1264a3;}
p{margin:0 0 1rem;}
hr{border:none;border-top:1px solid #ddd;margin:2rem auto;clear:both;}
@media only screen and (max-width:640px){
h1{font-size:1.75rem;line-height:2rem;}
}
.card{background-color:#fff;border-radius:.25rem;box-shadow:0 1px 0 rgba(0,0,0,.25);padding:2rem 2rem 1rem;margin:0 auto 2rem;position:relative;border:1px solid #ddd;}
@media only screen and (max-width:640px){
.card{padding:1rem;}
}
.col{display:block;float:left;margin:0 0 2%;padding-right:2%;}
.col+.col{margin-left:1.6%;}
.span_4_of_6{width:66.13%;}
@media only screen and (max-width:767px){
.col:not(.mobile_col){margin:0 0 2%;width:100%!important;padding-right:0;}
.col+.col{margin-left:0;}
}
.btn{background:#007a5a;color:#fff;transition:all 75ms ease-in-out;line-height:1.2rem;font-weight:900;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-decoration:none;cursor:pointer;text-shadow:none;border:none;border-radius:.25rem;box-shadow:none;position:relative;display:inline-block;vertical-align:bottom;text-align:center;white-space:nowrap;margin:0;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;}
.btn:after{position:absolute;content:'';top:0;right:0;bottom:0;left:0;border-radius:.25rem;}
.btn:focus,.btn:hover{background:#007a5a;box-shadow:0 1px 4px rgba(0,0,0,.3);color:#fff;transition:all 75ms ease-in-out;}
.btn:focus{box-shadow:0 0 0 1px #1264a3,0 0 0 5px rgba(29,155,209,.3);border-radius:4px;}
.btn:active{background:#037053;color:#fff;}
.btn:disabled,.btn:disabled:active,.btn:disabled:hover{background-color:#ddd!important;color:rgba(29,28,29,.75);box-shadow:none!important;pointer-events:none;}
.btn{padding:8px 14px 9px;font-size:15px;}
.btn_large{padding:14px 32px 16px;font-size:20px;}
@media only screen and (max-width:640px){
.btn_large{padding:14px 20px 16px;}
}
input[type=email],input[type=password]{font-size:1.25rem;line-height:normal;padding:.75rem;border:1px solid #868686;border-radius:.25rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:0;color:#1d1c1d;width:100%;max-width:100%;margin:0 0 .5rem;font-variant-ligatures:none;-webkit-transition:box-shadow 70ms ease-out,border-color 70ms ease-out;-moz-transition:box-shadow 70ms ease-out,border-color 70ms ease-out;transition:box-shadow 70ms ease-out,border-color 70ms ease-out;box-shadow:none;height:auto;}
input[type=email]::-ms-clear,input[type=password]::-ms-clear{display:none;}
input[type=email]:active,input[type=email]:focus,input[type=password]:active,input[type=password]:focus{border-color:#616061;outline-offset:0;outline:0;box-shadow:none;}
::-webkit-input-placeholder{color:#868686;}
:-moz-placeholder{color:#868686;}
::-moz-placeholder{color:#868686;}
:-ms-input-placeholder{color:#868686;}
input:disabled,input:disabled:active{background:#f8f8f8;border-color:#868686!important;box-shadow:none;color:#616061;}
.checkbox input[type=checkbox]{float:none;}
label{font-weight:700;margin:0 0 .25rem;display:block;font-size:1rem;line-height:1.5rem;}
label.checkbox{padding-left:1.5rem;cursor:pointer;}
label.checkbox input[type=checkbox]{margin:-2px .4rem 0 -1.5rem;vertical-align:middle;}
/*! CSS Used from: https://a.slack-edge.com/bv1-8-5f8a604/login-core.99d004939d0047343d0f.bundle.css */
.p-autoclog__hook{display:contents;}
.c-button{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none;cursor:pointer;border:none;border-radius:4px;align-items:center;position:relative;display:inline-flex;justify-content:center;text-align:center;white-space:nowrap;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;}
.c-button,.c-button:active,.c-button:focus,.c-button:hover{text-decoration:none;}
.c-button--primary{transition:all 80ms linear;background:#007a5a;color:#fff;font-weight:900;box-shadow:none;}
.c-button--primary:after{position:absolute;content:"";top:0;right:0;bottom:0;left:0;border-radius:4px;}
.c-button--primary:link,.c-button--primary:visited{color:#fff;}
.c-button--primary:hover{color:#fff;background:#148567;box-shadow:0 1px 4px rgba(0,0,0,.3);}
.c-button--primary:active{background:#006e51;box-shadow:none;}
.c-button--large{font-size:18px;font-weight:900;height:44px;min-width:96px;padding:0 16px 3px;}
.c-infinite_spinner{position:relative;margin:0 auto;}
.c-infinite_spinner--medium{width:18px;height:18px;}
.c-infinite_spinner__spinner{position:absolute;top:0;left:0;width:100%;height:100%;transform:rotate(-45deg);animation:c-infinite_spinner__spin 1.2s cubic-bezier(.25,.29,.54,.86) 0s infinite normal none;}
.c-infinite_spinner__tail{animation:c-infinite_spinner__spin 1.2s cubic-bezier(.41,.24,.64,.69) 0s infinite normal none;}
.c-infinite_spinner__bg{fill:none;opacity:.2;stroke-width:8;stroke:grey;}
.c-infinite_spinner__path{fill:none;stroke-width:8;stroke-dasharray:55,200;stroke-dashoffset:90;stroke-linecap:round;}
.c-infinite_spinner--blue .c-infinite_spinner__path{stroke:#50acf4;}
.c-button-loading__spinner{margin-right:0;margin-left:0;transition:width 80ms linear;}
.c-button--loading_spinner--hidden{width:0;}
.c-google_login{background-color:#fff;border:2px solid #4285f4;color:#4285f4;display:flex;padding:0;}
.c-google_login:focus{--saf-0:rgba(var(--sk_highlight,18,100,163),1);box-shadow:0 0 0 1px var(--saf-0),0 0 0 5px rgba(29,155,209,.3);border-radius:4px;}
.c-google_login:active,.c-google_login:hover{background-color:#fff;color:#4285f4;box-shadow:0 1px 4px rgba(0,0,0,.3);}
.c-google_login::-moz-selection{background:#ddd;}
.c-google_login::selection{background:#ddd;}
.c-google_login .c-infinite_spinner__path{stroke:#4285f4;}
.c-google_login__icon{margin-right:12px;width:18px;height:18px;}
.c-horizontal_content_rule{align-items:center;display:flex;}
.c-horizontal_content_rule__leftrule,.c-horizontal_content_rule__rightrule{flex-grow:1;margin:0;}
.c-horizontal_content_rule__content{padding:0 20px;}
/*! CSS Used from: https://a.slack-edge.com/55716/style/rollup-slack_kit_base.css */
form,h1,hr,p{margin:0;padding:0;}
h1{font-weight:400;}
*,:after,:before{box-sizing:inherit;}
a{color:#1264a3;text-decoration:none;}
a:active,a:focus,a:hover{color:#0b4c8c;text-decoration:underline;}
h1{font-size:28px;line-height:1.2143;font-weight:900;}
p{margin-bottom:16px;}
hr{border:none;border-top:1px solid #ddd;clear:both;margin-bottom:16px;}
button{padding:0;background-color:transparent;border-width:0;cursor:pointer;}
button,input{font-family:inherit;}
/*! CSS Used from: https://a.slack-edge.com/070af/style/rollup-slack_kit_helpers.css */
.normal{font-weight:400;}
.break_word{word-wrap:break-word;}
.float_none{float:none;}
.offscreen{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;user-select:none;}
.inline_block{display:inline-block;}
.align_left{text-align:left;}
.align_center{text-align:center;}
.full_width{width:100%;max-width:100%;}
.margin_top_150{margin-top:24px;}
.margin_bottom_150{margin-bottom:24px;}
.no_bottom_margin{margin-bottom:0;}
.tiny_bottom_margin{margin-bottom:1.6px;}
.small_top_margin{margin-top:8px;}
.small_bottom_margin{margin-bottom:8px;}
.small_right_margin{margin-right:8px;}
.large_bottom_margin{margin-bottom:24px;}
.margin_auto{margin-left:auto;margin-right:auto;}
.right_padding{padding-right:16px;}
.large_bottom_padding{padding-bottom:24px;}
/*! CSS Used keyframes */
@keyframes c-infinite_spinner__spin{0%{transform:rotate(0deg);}to{transform:rotate(1turn);}}
/*! CSS Used fontfaces */
@font-face{font-family:Slack-Lato;font-style:normal;font-weight:300;src:local('Slack-Lato'),url(https://a.slack-edge.com/80588/fonts/lato-2-compressed/lato-light.woff2) format('woff2'),url(https://a.slack-edge.com/80588/fonts/lato-2/lato-light.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF;}
@font-face{font-family:Slack-Lato;font-style:italic;font-weight:900;src:local('Slack-Lato'),url(https://a.slack-edge.com/80588/fonts/lato-2-compressed/lato-italic-black.woff2) format('woff2'),url(https://a.slack-edge.com/80588/fonts/lato-2/lato-italic-black.woff) format('woff');unicode-range:U+0000-F8FE,U+F900-FFFF;}
@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF;}
